TEST=false
CONTAINER_NAME=whisper
DOCKER_FILE=dockerfiles/sys.Dockerfile.whisper
COMMAND=gunicorn -w 4 -b __SERVER_ADDRESS__:__SERVER__PORT__ app:app >> /logs/app.log 2>&1
DOCKER_IMAGE=nvidia/cuda:12.1.1-devel-ubuntu22.04
RESTART=unless-stopped
LOG_DRIVER=json-file
VOLUME=./app
WORK_DIR=/app
TIMEZONE=Asia/Bangkok
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=5003
GPU_COUNT=1